{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block main %}
<h1 style="margin-top: 50px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error neque at commodi minus dolorum. Hic eos deserunt laborum, dolor nulla qui odit omnis neque unde obcaecati. Maxime ut placeat sint!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus unde corrupti expedita temporibus, molestiae tenetur harum amet consequatur laboriosam quaerat consequuntur modi dolorem magni commodi minima eum placeat vel est.</h1>
{% endblock %}